{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="text-center">
            <h3><a href="/" class="link1"> Fashion is our profession </a></h3>
        </div>
        <div class="col-md-offset-9">
            <p class="user">You are signed in as {{ var_name }}</p>
            <a href="/logout" class="btn btn-primary" role="button">Logout</a>
            <br>
            <br>
        </div>
    </div>
{% block content %}{% endblock %}

</body>
</html>