{% extends 'base_l.html' %}
{% csrf_token %}
{% block title %}Sign in{% endblock %}
{% block content %}
<form action="/login/" method="post">
    {% csrf_token %}
    <div class="form-group" style="margin: 100px 375px 0px;">
            {% if errors %}
                <div class="alert alert-warning">
                <a href="/login" class="close" data-dismiss="alert">×</a>
                {% for e in errors %}
                    <p>{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <form class="form-inline">

    <div class="form-inline"  style="margin: 0px 0px 0px 375px;">
        <div class="form-group">
            <label class="sr-only" >Login</label>
            <input type="text" class="form-control" placeholder="Login" id="username" name="username" autocomplete="on">
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
        <div class="checkbox">
            <label><input name="remember" id="remember" type="checkbox">Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
    </div>
    </form>
    <div class="form-group" style="margin: 10px 0px 0px 375px;">
        <label>Not a member?</label>
        <a href="/reg">
            <span style="color: #111;">
            Sign up here!
            </span>
        </a>
    </div>

    </form>
{% endblock %}


